@charset "utf-8";  		/* -*- coding: utf-8 -*- */

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(http://fonts.googleapis.com/css?family=Teko:700);

body {
    font-family: 'Noto Sans Japanese', sans-serif;
    font-weight: 200;
    background: #666;
}

h1 {
    font-family: 'Teko', sans-selif;
    font-size: 4rem;
    color: #ccc;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
}

h2 {
    font-weight: 900;
    color: #444;
    padding-top: 20px;
}

h3 {
    font-size: 1.15rem;
}

div.container_12 {
    background: #ccc;
    color: #333;
}
